@import "tailwindcss";

@theme {
  --color-sky: #0ea5e9;
  --color-wine: #722f37;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background: var(--background);
  color: var(--foreground);
}
